@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

  .header {
    height: 48px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .nav {
      display: inline-flex;
      align-items: center;
      gap: 16px;
    }

    .logo {
      display: inline-flex;
      align-items: center;
      gap: 12px;
    }
  }
}

.blocks {
  margin: 24px;
  display: grid;
  gap: 24px 32px;
  justify-content: center;
  /* grid 每行 4平分，宽度最小是280px */
  grid-template-columns: repeat(3, minmax(280px, 400px));

}

.block {
  height: 220px;
  border-radius: 4px;
  box-shadow: 0 0 5px #ddd;
  position: relative;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 8px #aaa;
  }

  .cover {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(2px) opacity(0.2);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
  }

  .footer {
    background-color: white;
    position: absolute;
    border-top: 1px solid #ddd;
    bottom: 0;
    left: 0;
    right: 0;
    height: 32px;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 0 16px;
    gap: 8px;
  }

  h1 {
    padding: 0 32px;
    font-size: 22px;
    word-break: break-all;
    /* 强制在长单词中断行 */
    overflow-wrap: break-word;
    /* 在必要时断行以防止溢出 */
    line-height: 1.5;
  }
}

.page {
  line-height: 1.8;
  font-size: 18px;
  margin: 42px 10%;
  padding: 2% 8% 4% 8%;
  border: 1px solid LightGrey;

  h1 {
    color: #444;
    font-size: 1.7em;
  }

  h2 {
    color: #555;
    font-size: 1.4em;
  }

  h3 {
    color: #666;
    font-size: 1.2em;
  }

  .title {
    margin-bottom: 40px;
    border-bottom: 2px LightGrey solid;
    width: 98%;
    line-height: 150%;
    color: #333;
  }
}

.code {
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid lightgrey;
  padding: 0 16px;
  background-color: #FAFAFA;

  pre {
    line-height: 1;
    padding: 0;
    margin: 0;
  }

  code {
    padding: 0;
    margin: 0;
    line-height: 1.5;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}